<section id="about">
  <div class="container about">
    <h2>international-news News section</h2>
    <h2>international-news News section</h2>
    <h2>international-news News section</h2>
    <h2>international-news News section</h2>
  </div>
</section>
