<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <div class="logo">
        <div class="logo-icon icon">
          <img src='./images/icons/icon-logo.svg' alt='' />
        </div>
        <div class="logo-text">
          interactive Callback Kiểm tra cấu hình
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ================= -->
<a class="©copy-right" target="_blank" href="https://fullstack.edu.vn/">©copy-right</a>
<a class="back-top" href="#Top"></a>
<!-- ================= -->