<h1>Home Tự học lập trình - Tại sao không?.</h1>
<section id="hero">
  <div class="hero">
    <div class="row">
      <div class="col col-left">
        <div class="col-img">
          <img src='./images/image/img8.png' alt='' />
        </div>
      </div>
      <div class="col col-right"></div>
    </div>
  </div>
</section>
<!-- ================= -->