<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel='icon' type='image/x-icon' href='./favicon.ico' />
  <title>
    Tự học lập trình - Tại sao không?.
  </title>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
    rel="stylesheet" />

  <link rel='stylesheet' href='./vendor/aos/aos.css' />
  <link rel='stylesheet' href='./vendor/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='./css/reset.css' />
  <link rel='stylesheet' href='./css/style.css' />
</head>

<body>
  {{> header}}
  <main class="container main">
    {{{body}}}
  </main>
  {{> footer}}
  <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>